%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img{src: @video.large_cover_url}
      .video_info.col-sm-3
        %header
          %h3= @video.title.titleize
          %span Rating: #{video_rating}
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          = link_to "+ My Queue", new_video_queue_item_path(@video.id), class: "btn btn-default"
%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for([@video, @review], control_col: "col-sm-6") do |f|
        %fieldset
          .row
            .col-sm-3
              = f.select(:rating, [5,4,3,2,1].map {|n| [pluralize(n, "Star"), n] }, label: 'Rate this video')
          .row
            .col-sm-8
              = f.text_area :body, label: 'Your Review', rows: '6'
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit", class: 'btn'
          = link_to "Cancel", @video
      %header
        %h3 User Reviews (#{@video.reviews.count})
      %ul
        - @video.reviews.reload.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating}/ 5
                %p by <a href="">#{review.creator.fullname}</a>
              .col-sm-8
                %p= review.body
