%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img{src: @video.large_cover_url}
      .video_info.col-sm-3
        %header
          %h3= @video.title.titleize
          %span Rating: #{@video.rating}/5.0
        %p= @video.description

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for([@video, @review], control_col: "col-sm-6") do |f|
        %fieldset
          .row
            .col-sm-3
              = f.select(:rating, (1..5).to_a.reverse.map {|n| ["#{n} Star".pluralize(n), n] }, label: 'Rate this video')
          .row
            .col-sm-8
              = f.text_area :body, label: 'Your Review', rows: '6'
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit", class: 'btn'
          = link_to "Cancel", ""
      %header
        %h3 User Reviews (#{@video.reviews.count})
      %ul
        - @video.reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating}/ 5
                %p by <a href="">#{review.creator.fullname}</a>
              .col-sm-8
                %p= review.body
